/* // reset everything */
*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
 
}



body{
  background-color: #90ADC6;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.card{ 
  margin-top: 10em; 
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  text-align: center;
  border: 3px solid yellow;
}

.container{
  border: 4px solid black;
  background-color: white;
}

.card img {
  
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  object-fit: cover;
}

